<header>
    <a href='/' class="logo">
        <h1>MovieRama</h1>
    </a>

    <div class="session">
        <% if authenticated? %>
            <%= tag.div do %>
                <%= tag.span "Welcome back" %>
                <%= link_to current_user.username, movies_path(user: current_user.id) %>
            <% end %>
            <%= button_to "Logout", session_path, method: :delete, class: "button-link" %>
        <% else %>
            <%= link_to 'Login', login_path %>
            <span>or</span>
            <%= link_to 'Sign up', signup_path, class: "button-link" %>
        <% end %>
    </div>
</header>