<section class="movie-list">
    <% movies.each do |movie| %>
        <div class="movie-entry">
            <h4><%= movie.title %></h4>

            <span class="movie-submission-details">
                Posted by
                <% name = current_user&.has_submitted?(movie) ? 'You':  movie.user.username %>
                <%= link_to name, movies_path(user: movie.user.id), class: "username" %>
                <%= time_ago_in_words(movie.created_at) %> ago
            </span>

            <p class="movie-description">
                <%= movie.description %>
            </p>

            <section class="vote-section">
                <% if movie.votes.any? %>
                    <%= render partial: 'components/votes', locals: { current_user: current_user, movie: movie } %>
                <% else %>
                    <%= render partial: 'components/no_votes_yet', locals: { current_user: current_user, movie: movie } %>
                <% end %>

                <% if current_user&.get_vote(movie) %>
                    <%= render partial: 'components/personal_vote', locals: { current_user: current_user, movie: movie } %>
                <% end %>
            </section>
        </div>
    <% end %>
</section>